= content_for(:title) { t(".title") }

%header.main-content__header{:role => "banner"}
  %h1.main-content__page-title
    = t(".title")
  %div
%section.main-content__body
  %p= t(".description")
  = simple_form_for :password, url: passwords_path do |f|
    = f.input :email
    .form-actions
      = f.button :submit
      or
      = link_to t('layouts.application.sign_in'), sign_in_path
      instead
