!!!
%html{:lang => I18n.locale}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "NOODP", :name => "ROBOTS"}/
    %meta{:content => "initial-scale=1", :name => "viewport"}/
    %title
      = content_for(:title)
      == -
      = Rails.application.class.module_parent_name.titlecase
    = render "layouts/stylesheet"
    = csrf_meta_tags
  %body
    .app-container
      %main.main-content{:role => "main"}
        = render "layouts/flashes"
        = yield
